<%- include('../partials/header') %>

  <section id="show-page">
    <div>Airline: <%= flight.airline %></div>
    <div>Airport: <%= flight.airport %></div>
    <div>Flight No: <%= flight.flightNo %></div>
    <div>Departure Time: <%= flight.departs %></div><br>
    <div class="new-ticket-link">
      <a href="/flights/<%= flight._id %>/tickets/new">Add New Ticket</a>
    </div><br>
    <div>Ticket List:</div>
    <table id="ticket-list">
      <thead>
        <tr>
          <th>Seat</th>
          <th>Price</th>
          <!-- <th>Flight</th> -->
        </tr>
      </thead>
      <tbody>
        <% tickets.forEach(function(t) { %>
          <tr>
            <td><%= t.seat %></td>
            <td><%= t.price %></td>
            <!-- <td><%= t.flight %></td> -->
          </tr>
        <% }); %>
      </tbody>
    </table>
  </section><br>

  <% if (flight.destinations.length) { %>
    <table>
      <thead>
        <tr>
          <th>Destination</th>
          <th>Arrival Time</th>
        </tr>
      </thead>
      <tbody>
        <% flight.destinations.forEach(function(d) { %>
          <tr>
            <td><%= d.airport %></td>
            <td><%= d.arrival %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Other Destinations Listed</h5>
  <% } %>

  <form id="add-destination-form" method="POST"
  action="/flights/<%= flight._id %>/destinations">
    <label>Destinations:</label>
    <select name="airport">
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="DEN">DEN</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
    </select>
    <label>Arrival Time:
      <input type="datetime-local" name="arrival">
    </label>
    <input type="submit" value="Add Destination">
  </form>


<%- include('../partials/footer') %>